/* good sliders :) */
::-webkit-scrollbar {
    width: 20px !important;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1 !important;
    border-radius: 20px !important;
    border: 6px solid transparent !important;
    background-clip: content-box !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf !important;
}
